.navbar{
     display: flex;
     justify-content: space-between;
     padding: 1rem 0rem;
     align-items: center;  
}
.logo{
    width: 14rem;
}
.navbar-menu{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 1.7rem;
    color: #49557e;
    cursor: pointer;
    align-items: center;
}
.navbar-right{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.navbar-right .sign-in-button{
    width: 8vw;
    height: auto;
    font-size: 1vw;
    border-radius: 60px;
    padding: 0.7rem 2rem;
    background: transparent;
    border: 1px solid rgb(255, 99, 71 , .8);
    color: #49557e;
    cursor: pointer;
    transition: 0.2s;
}
.navbar-right .sign-in-button:hover{
    transition: .6s;
    color: #49557e;
    border: none;
    transform: scale(1.2);
    transition: 0.2s;
}
.navbar-menu .active{
    border-bottom: 3px solid #49557e;
    padding-bottom: 1px;
}
.basket-and-dot{
    position:relative;
}
.basket-and-dot .dot{
    position: absolute;
    color: tomato;
    min-height: 10px;
    min-width: 10px;
    top:-1.8rem;
    right:-1rem;
    font-size: 2.5rem;
}

@media(max-width: 1440px){
    .navbar-menu{
        font-size: 1.2rem;
    }
    .navbar .logo{
        width: 140px;
    }
    .navbar-right{
        gap:25px;
    }
    .navbar-right img{
        width:20px;
    }
    .navbar-right .sign-in-button{
        width:110px;   
    }
}

@media(max-width: 1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 18px;
    }
    .navbar-right .sign-in-button{
        padding: 8px 25px;
    }
}
@media(max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
        align-items: center;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 16px;
    }
    .navbar-right .sign-in-button{
        padding: 8px 25px;
        font-size: 15px;
    }
}
@media(max-width: 750px){
   .navbar-menu{
    display:none;
   }
    .sign-in-button{
    width:50px;
    }
}
@media(max-width:420px){
    .navbar .logo{
        width:80px;
    }
    .navbar-menu{
        display:none;
    }
    .navbar-right{
        gap: 10px;
    }
    .navbar-right img{
        width: 12px;
    }
    .navbar-right .sign-in-button{
        width: 50px;
        font-size: 8px;
        padding: 4px 0px 4px 0px;
    }
    .basket-and-dot .dot{
        display: none;
    }
}